$cardWidth: 144px;
$cardHeight: 200px;

.card:not(:last-child) {
  margin-right: 5px;
}

.card {
  width: $cardWidth;
  height: $cardHeight;
  background-size: $cardWidth $cardHeight;
  border: none;
  border-radius: 4px;
  transform-origin: 0% 0%;
}
